<section id="container">
    <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <!--logo start-->
        <a href="index.html" class="logo"><b>ADMIN PAGE</b></a>
        <!--logo end-->

        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <li><a class="logout" href="/logout">Logout</a></li>
            </ul>
        </div>
    </header>
    <!--header end-->

    <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">

                <p class="centered"><a href="profile.html"><img src="/images/ui-sam.jpg" class="img-circle"
                            width="60"></a></p>
                <h5 class="centered">Marcel Newman</h5>

                <li>
                    <a href="dashboard"><i class="fa fa-dashboard "></i>Dashboard</a>
                </li>
                <li>
                    <a href="products"><i class="fa fa-table "></i>Products</a>
                </li>
                <li>
                    <a href="brands"><i class="fa fa-list-alt "></i>Brands</a>
                </li>
                <li>
                    <a href="users"><i class="fa fa-users "></i>Users Manager</a>
                </li>
                <li>
                    <a href="orders"><i class="fa fa-shopping-cart "></i>Orders</a>
                </li>
                <li>
                    <a href="charts"><i class="fa fa-bar-chart-o "></i> Revenue Charts</a>
                </li>
                <li>
                    <a class="active" href="addnew"><i class="fa fa-edit "></i> Add New </a>
                </li>
                <li>
                    <a href="change_password"><i class="fa fa-wrench "></i>Change Password</a>
                </li>

            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->

    <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <h3><i class="fa fa-angle-right"></i>Thêm sản phẩm mới</h3>
            <div class="row">
                <div class="col-md-12">
                    <!-- Form Elements -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Add new product
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">

                                    <form role="form">
                                        
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input class="form-control" name="name" id="name" />
                                        </div>
                                        <div class="form-group">
                                            <label>Amount</label>
                                            <input class="form-control" name="amount" id="amount" />
                                        </div>
                                        <div class="form-group">
                                            <label>Price</label>
                                            <div class="form-group input-group">
                                                <span class="input-group-addon">$</span>
                                                <input type="text" class="form-control" name="price" id="price" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Amount</label>
                                            <input type="date" class="form-control" name="date" id="date" />
                                        </div>
                                        <div class="form-group">
                                            <label>Brand</label>
                                            <select name="brand" id="brand" class="form-control">
                                                <option value="Lenovo">Lenovo</option>
                                                <option value="Asus">Asus</option>
                                                <option value="Dell">Dell</option>
                                                <option value="Mac">Mac</option>
                                            </select>
                                        </div>

                                    </form>
                                    <br />


                                </div>

                                <div class="col-md-6">


                                    <form role="form">
                                        <div class="form-group">
                                            <label>Image</label><br />
                                            {{!-- <img id="image-product" src="" class="img-thumbnail"
                                                style="width: 80%, display: block" /> --}}
                                            <p>Hình ảnh chưa được chọn</p>
                                        </div>
                                        <div class="form-group">
                                            <label>File input</label>
                                            <input type="file" />
                                        </div>
                                        <div class="form-group">
                                            <label>Description</label>
                                            <textarea id="description" name="description" class="form-control"
                                                rows="3"></textarea>
                                        </div>

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Form Elements -->
                </div>
            </div>
            <!--row -->



        </section>
        <!--/wrapper -->
    </section>

    <!--main content end-->
    <!--footer start-->
    <footer class="site-footer">
        <div class="text-center">
            2014 - Alvarez.is
            <a href="index.html#" class="go-top">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </footer>
    <!--footer end-->
</section>