<section id="container">
    <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <!--logo start-->
        <a href="index.html" class="logo"><b>ADMIN PAGE</b></a>
        <!--logo end-->

        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <li><a class="logout" href="/logout">Logout</a></li>
            </ul>
        </div>
    </header>
    <!--header end-->

    <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">

                <p class="centered"><a href="profile.html"><img src="/images/ui-sam.jpg" class="img-circle"
                            width="60"></a></p>
                <h5 class="centered">Marcel Newman</h5>

                <li>
                    <a href="dashboard"><i class="fa fa-dashboard "></i>Dashboard</a>
                </li>
                <li>
                    <a href="products"><i class="fa fa-table "></i>Products</a>
                </li>
                <li>
                    <a href="brands"><i class="fa fa-list-alt "></i>Brands</a>
                </li>
                <li>
                    <a href="users"><i class="fa fa-users "></i>Users Manager</a>
                </li>
                <li>
                    <a href="orders"><i class="fa fa-shopping-cart "></i>Orders</a>
                </li>
                <li>
                    <a href="charts"><i class="fa fa-bar-chart-o "></i> Revenue Charts</a>
                </li>
                <li>
                    <a href="addnew"><i class="fa fa-edit "></i> Add New </a>
                </li>
                <li>
                    <a class="active" href="change_password"><i class="fa fa-wrench "></i>Change Password</a>
                </li>

            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->

    <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <h3><i class="fa fa-angle-right"></i>Đổi mật khẩu</h3>
            <form class="form-login" action="/changepass" method="POST">
                <h2 class="form-login-heading">Change my password</h2>
                <div class="login-wrap">
                    <input type="text" name="username" value="admin1" class="form-control" placeholder="User ID"
                        autofocus>
                    <br>
                    <input type="password" name="password" value="123456" class="form-control" placeholder="Password">
                    <br>
                    <input type="password" name="password2" value="123456" class="form-control" placeholder="Re-Type">

                    <label class="checkbox">
                        <span class="pull-right">
                            <a data-toggle="modal" href="#myModal"> Forgot Password?</a>

                        </span>
                    </label>
                    <button class="btn btn-theme btn-block" type="submit"><i class="fa fa-lock"></i> CHANGE PASSWORD</button>
                    

                </div>

                <!-- Modal -->
                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal"
                    class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Forgot Password ?</h4>
                            </div>
                            <div class="modal-body">
                                <p>Enter your e-mail address below to reset your password.</p>
                                <input type="text" name="email" placeholder="Email" autocomplete="off"
                                    class="form-control placeholder-no-fix">

                            </div>
                            <div class="modal-footer">
                                <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                                <button class="btn btn-theme" type="button">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- modal -->

            </form>



        </section>
        <!--/wrapper -->
    </section>

    <!--main content end-->
    <!--footer start-->
    <footer class="site-footer">
        <div class="text-center">
            2014 - Alvarez.is
            <a href="index.html#" class="go-top">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </footer>
    <!--footer end-->
</section>